#Ignore formatting folder
Formating

# Ignore DS_Store
.DS_Store

# Ignore Rproj.user folder
**/.Rproj.user/


.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/agujournal2019.cls
/trackchanges.sty

**/*.quarto_ipynb
